<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>headline levels</h1>
    <h2>headline levels</h2>
    <h3>headline levels</h3>
    <h4>headline levels</h4>
    <h5>headline levels</h5>
    <h6>headline levels</h6>

    <div style="width:100%; height: 300px; background-color: chartreuse;">
    <h2>user profile</h2>
    <h3>Jeff John</h3> 
    <p>this is a man of God</p>
    <div style="height: 100%; width: 30%; background-color: brown
    ;">


        <a href="#">facebook</a>



        <a href="">instagram</a>
        <a href="">thread</a>
        <a href="">Twitter</a>
    </div>
    </div>
   

</body>
</html>